In [5]:
bills = [1500, 2000, 3000]
total = 0

for b in bills:
    print("Bill amount:", b)
    total += b

print("Total monthly bills:", total)

Bill amount: 1500
Bill amount: 2000
Bill amount: 3000
Total monthly bills: 6500

In [6]:
students = ["John", "Mary", "Alex"]

for name in students:
    print(name, "- Present")

John - Present
Mary - Present
Alex - Present

In [7]:
bonuses = {"John": 5000, "Mary": 6000}

for name, bonus in bonuses.items():
    print(name, "gets a bonus of", bonus)

John gets a bonus of 5000
Mary gets a bonus of 6000

In [8]:
scores = [85, 92, 76, 61]

for score in scores:
    if score >= 90:
        print(score, "- Grade A")
    elif score >= 80:
        print(score, "- Grade B")
    elif score >= 70:
        print(score, "- Grade C")
    else:
        print(score, "- Grade F")

85 - Grade B
92 - Grade A
76 - Grade C
61 - Grade F

In [ ]:
books = ["Python Basics", "Data Science"]

title = input("Enter the book title: ")

found = False

for book in books:
    if book == title:
        found = True
        break

if found:
    print("Available")
else:
    print("Not Available")

In [7]:
temperatures = [30, 32, 28, 35, 29]

highest = temperatures[0]
lowest = temperatures[0]

for temp in temperatures:
    if temp > highest:
        highest = temp
    if temp < lowest:
        lowest = temp

print("Highest temperature:", highest)
print("Lowest temperature:", lowest)

Highest temperature: 35
Lowest temperature: 28

In [8]:
stock = {"Apples": 5, "Bananas": 20}

for item, quantity in stock.items():
    if quantity < 10:
        print(item, "- Low stock (", quantity, ")")

Apples - Low stock ( 5 )

In [9]:
seats = [1, 2, 3, 4]
booked_seats = [2, 4]

for seat in seats:
    if seat in booked_seats:
        print("Seat", seat, "→ Booked")
    else:
        print("Seat", seat, "→ Available")

Seat 1 → Available
Seat 2 → Booked
Seat 3 → Available
Seat 4 → Booked

In [10]:
balances = [5000, 5200, 5300]
rate = 0.05 / 100   

total_interest = 0

for balance in balances:
    daily_interest = balance * rate
    total_interest += daily_interest
    print("Balance:", balance, "Daily Interest:", daily_interest)

print("Total Interest for the week:", total_interest)

Balance: 5000 Daily Interest: 2.5
Balance: 5200 Daily Interest: 2.6
Balance: 5300 Daily Interest: 2.65
Total Interest for the week: 7.75

In [14]:
comments = ["Great service", "Poor product"]

for comment in comments:
    if "service" in comment.lower():
        print(comment)

Great service